'.source.arm':
  'editor':
    'commentStart': 'REM'

  'completions': [
    'REM'
    'STRING'
    'ENTER'
    'CMD'
    'GUI'
    'WINDOWS'
    'DEFAULT_DELAY'
    'DELAY'
    'SHIFT'
    'DELETE'
    'HOME'
    'INSERT'
    'PAGEUP'
    'PAGEDOWN'
    'UPARROW'
    'DOWNARROW'
    'LEFTARROW'
    'RIGHTARROW'
    'UP'
    'DOWN'
    'LEFT'
    'RIGHT'
    'CONTROL'
    'ESCAPE'
    'SPACE'
    'TAB'
    'REPEAT'
    'ALT'
  ]
